html {
    scroll-behavior: smooth;
    background: linear-gradient(rgb(36, 36, 36), rgb(0, 0, 0));

}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Navegador */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000ea;
    padding: 25px 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;;
}
nav .logo {
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    transition: 1s;
}

nav .logo:hover{
    cursor: default;
    color: #ff7af8;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7af8;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        background: #000000ec;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }


    nav ul.active {
        display: flex;
        gap: 20px;
        padding: 20px 0;
        transition: all 1s ease; 
    }

    nav .toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 2em;
        z-index: 1001;
        transition: .3s;
    }

    nav .toggle:hover{
        color: #ff7af8;
    }
}

@media (min-width: 769px) {
    nav .toggle {
        display: none;
    }
}

/* Boton descargar curriculum */
.download-btn {
    background-color: #ff7af8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;    
    transition: 0.3s;
    scale: 1;
}

.download-btn:hover {
    scale: .8;
    color: #000000;
    background-color: #fff1ff;
}

/* Contenedor del carrusel */
.carousel-container {
    width: 100%;
    height: 100%; 
    position: relative;
    overflow: hidden;
}

/* Carrusel con las imágenes */
.carousel {
    display: flex;
    width: 100%; 
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Cada diapositiva */
.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: 1s;
}

.slide img:hover {
    scale: 1.001;
}  

/* Puntos de navegación */
.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #ff7af8;
}

/* Texto-parrafo */
.parrafo-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 70px;
    overflow: visible;

}

.parrafo {
    flex: 1 1 calc(50% - 20px);
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:default;
}

.parrafo a{
    color: #ff7af8;
    font-size: 1.09em;

}

h1 {
    font-size: 2.3em;
    transition: .3s;

}

h1:hover{
    cursor:default;
    color: #ff7af8;
}

h2 {
    font-size: 1.15em;
}

@media (max-width: 768px) {
    .parrafo {
        flex: 1 1 100%; 
    }
}

/* Novedades */
.novedades {
    display: grid; /* Usamos CSS Grid para organizar las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    justify-content: space-between; 
    gap: 20px; 
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.novedades a {
    display: block;
    flex: 1;
    text-decoration: none; 
}

.novedades img {
    width: 100%;
    border-radius: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.novedades img:hover {
    transform: scale(1.005); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 768px) {
    .novedades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .novedades {
        grid-template-columns: 1fr; 
    }
}

    .novedades img {
        width: 100%; 
    }


/* Footer */
footer {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-social a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #ff7af8;
}

.footer-text {
    font-size: 0.9rem;
    opacity: 0.8;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border: none;
    height: 1px; 
    background-color: #cb61e6; 
    margin: 20px 0;
}






/* ABOUT */

.carousel img:hover{
    scale: 1.02;
}

/* Main container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    max-width: 1000px;
}

/* Text content */
.text-content {
    flex: 1;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:default;
}

.text-content h1 {
    font-size: 4rem;
    color: #ffffff;
}

.text-content a{
    color: #f188ff;
    font-size: 1.09em;

}

.text-content p {
    font-size: 1.1rem;
    color: #ffffff;
    padding-bottom: 3%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-content {
        order: 1;
    }

    .image-wrapper {
        order: 2;
    }
}







/*Contact */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 2%;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 8%;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contact-form h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #f188ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}

.contact-form button:hover {
    background-color: #ffffff;
    color: #000;
}

.contact-form .text-content p{
    margin-bottom: 15%;
}
